<h1>Ember Application</h1>

<div>
	<video autoplay loop preload="auto" src="https://vines.s3.amazonaws.com/videos/987DA350-D7E9-4B56-87F5-42E90ECBB05F-2153-000001DB859FB5DB_1.0.4.mp4?versionId=50XqaVfrybJSwJd0j3t8JkajXe1IEiwx"></video>
</div>
{{outlet}}
