<div class="container">
	<div class="centered header">
		<h1>{{#linkTo videos.index}}DVINE{{/linkTo}}</h1>
		<div class="add">{{#linkTo videos.new}}Add a Vine{{/linkTo}}</div>
	</div>

	{{outlet}}
</div>