{{#view Vine.VideoBoxView}}
	<div class="video">
		<video loop preload="auto" class="centered" {{bindAttr src="url"}}></video>
		
		<div class="centered tags">
			#winter #blizzard #snow #2013
			
		</div>
	</div>
{{/view}}
