<div class="background">.</div>
<div class="container">
	<div class="centered header">
		<h1>{{#linkTo videos.index}}DVINE{{/linkTo}}</h1>
		<div class="add">{{#linkTo videos.new}}Add a Vine{{/linkTo}}</div>
	</div>

	{{outlet}}
	<div class="footer">
		<div class="centered">
			DVINE is open source software built on <a href="http://emberjs.com">Ember.js</a> and <a href="http://github.com/rails-api/rails-api">Rails API</a>. <br>
			<a href="http://github.com/dmzza/dvine">Fork me on GitHub.</a>
		</div>
	</div>
</div>