body {
	font-family: "proxima-nova", sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	background-color: #F9F9F9;
}

.centered {
	width: 480px;
	position: relative;
	left: 50%;
	margin-left: -240px;
	display: block;
}

.header {

}

.footer {
	border-top: 4px #F9F9F9 solid;
	margin-top:-40px;
	padding: 25px 0;
	width: 100%;
}

.background {
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -1;
	width: 620px;
	left: 50%;
	margin-left: -310px;
	display: block;
	background-color: #FFF;
}

h1 {
	font-family: "proxima-nova", sans-serif;
	font-weight: 800;
	font-size: 4em;
	float: left;
}

h1 a {
	color: black;
}

h2 {
	clear: both;
}

.add {
	float: right;
	line-height: 10em;
}

a {
	text-decoration: none;
}
a:hover {
	color: rgb(40,125,217);
}



.video {
	margin: 40px 0;
	padding-bottom: 35px;
	border-bottom: 4px solid #F9F9F9;
	width: 100%;
}

.tags {
	padding: 10px;
	top:-5px;
	background-color: #EEE;
	width: 460px;
	
}
.tags img {
	position: absolute;
	right: 8px;
	bottom: 9px;
}

video {
	margin-bottom: 0;
	padding-bottom: 0;
	height: 480px;
	background: black;
	clear: both;
}

form {
	clear: both;
	margin-bottom: 100px;
}
label {
	display: block;
}

.error {
	height: 300px;
	clear: both;
}

@media all and (max-width: 480px) {
	.centered {
		width: 320px;
		margin-left: -160px;
	}

	.tags {
		width: 300px;
	}

	video {
		height: 320px;
	}
}

@media all and (max-width: 320px) {
	.centered {
		width: 250px;
		margin-left: -125px;
	}

	.add {
		display: none;
	}

	.tags {
		width: 230px;
	}

	video {
		height: 250px;
	}
}