<div class="header">
	<h1>DVINE</h1>
	<div class="add">{{#linkTo videos.new}}Add a Vine{{/linkTo}}</div>
</div>
{{#each video in content}}
	{{#view Vine.VideoView}}
	<div class="video">
		<video loop preload="auto" {{bindAttr src="video.url"}}></video>
		
		<div class="tags">
			#winter #blizzard #snow #2013
		</div>
	</div>
	{{/view}}
{{/each}}