
<form class="centered">
	<label>Video URL:</label> {{view Ember.TextField valueBinding="url"}}

	<button class="btn btn-success" {{action save content}}>Add</button>
	<button class="btn" {{action cancel}}>Cancel</button>
</form>